.bomba--img {
  width: 75px;
}

.bomba--title {
  margin: 0;
}

.bomba--datos {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.bomba--body {
  width: 100%;
  display: flex;
  min-width: 312px;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px 15px 12px 15px;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bomba {
  color:#fff;
  width: 95%;
  display: flex;
  padding-top: 7px;
  margin: 10px auto;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  background-color: #009ae6;
  transition: all 0.5s ease;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
}

.bomba--botones {
  display: flex;
  gap: 20px;
}

@media only screen and (min-width: 850px) {
  .bomba--body {
    flex-direction: column;
    min-width: 0;
  }
  .bomba--img {
    width: 125px;
  }
}
