.bomba--img {
  width: 75px;
}

.bomba--title {
  margin: 0;
}

.bomba {
  display: flex;
  min-width: 312px;
  margin: 10px auto;
  flex-wrap: nowrap;
  border-radius: 10px;
  align-items: center;
  background-color: #fff;
  transition: all 0.5s ease;
  padding: 15px 15px 15px 15px;
  justify-content: space-between;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
}

.bomba--btn {
  display: flex;
  border: none;
  display: flex;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  align-items: center;
  transition: all 0.5s ease;
}

@media only screen and (min-width: 750px) {
  .bomba {
    flex-direction: column;
    min-width: 0;
    justify-content: start;
    gap: 10px;
  }
}