.text {
  color: #000;
  display: flex;
  align-items: center;
}

.label {
  font-weight: 800;
  margin: 0;
  margin-right: 5px;
}

.data {
  margin: 0;
}

.svg {
  height: 20px;
  margin-right: 3px;
}
