.card {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px auto;
  padding: 7px 15px 15px 15px;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
}

.cardTitle {
  margin: auto;
}

.contenedorsito {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
