.nav {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  background-color: #fff;
  max-height: fit-content;
  align-items: center;
  padding: 0 10px;
  display: flex;
}

.nav--title {
  display: flex;
  align-items: center;
}

.title {
  margin: 12px;
}

.logo {
  height: 50px;
  display: flex;
}

.quit {
  background-color: #dc1025;
  transition: all 0.5s ease;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  align-content: center;
  cursor: pointer;
  flex-wrap: wrap;
  display: flex;
  color: #fff;
}

.quit:hover {
  background-color: #af0e1e;
}
