.altura {
  justify-content: center;
  position: absolute;
  font-weight: 800;
  min-width: 150px;
  display: flex;
  color: #000;
  height: 250px;
  z-index: 2;
}

#banner {
  border-radius: 10px;
  backface-visibility: hidden;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-color: #000;
  border-style: solid;
  position: relative;
  background: #fff;
  border-width: 2px;
  border-top: none;
  overflow: hidden;
  margin-top: -5.6px;
  height: 220px;
  width: 150px;
}

#banner .fill {
  transform: translateY(220px);
}

#banner .pour {
  background: #009ae6;
  position: absolute;
  margin-left: -3px;
  left: 27.6%;
  width: 6px;
  bottom: 0;
  top: 0;
}

#banner #waveShape {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: waveAction;
  animation-duration: 1s;
  fill: #04acff;
  height: 150px;
  width: 300px;
}

.presion {
  justify-content: space-between;
  align-items: center;
  width: 155.714px;
  display: flex;
}

.presion--img {
  margin-right: 5px;
}

.presion--text {
  font-weight: 800;
}

@keyframes waveAction {
  0% {
    transform: translate(-150px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
