@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #efefef;
}

@media only screen and (max-width: 850px) {
  .bombas {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 850px) {
  .equipos {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .bombas {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 350px;
  }
  .bomba--body {
    display: flex;
    justify-content: space-between;
    height: 350px;
  }
  .bomba {
    height: 343px;
  }
}
